@model List<PizzaPickUp.Models.Menu>
@{
    ViewBag.Title = "Menu";
}
<body style="background-color:black; color:white;">


    <div class="container" align="center">
        <h2 align="center" style="font-size:50px; color:white;"><b>MENU</b></h2>
        <div class="col-sm-12" style="max-height:50px;" align="center">   </div>
        @foreach (var mn in Model)
        {
            <div class="row" style="align-items:center; max-height:25px; float:left; padding:4px 4px 4px 4px;">
                <div class="card" style="border: double white 5px; margin: 15px; min-height: 50px; max-width: 400px; margin-top:7em;">
                    <img src="@mn.itemImg" class="card-img-top" alt="..." style="max-height:300px; width:auto;" />
                    <div class="card-body" style="background-color:crimson;">
                        <div class="card" style="width: 30rem; ">
                            <h5 class="card-title" style="font-size:25px; width:100%;">
                                <b>@mn.itemName</b> 
                                $@mn.itemPrice
                            </h5>

                            <p class="card-text" style="font-size:15px; height: 40px;" >
                                @mn.description
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            
        }
        <div class="row"></div>
            
    </div>


</body>
