
@{
    ViewBag.Title = "Build";
}

<body style="background-color:black; color:white;">
    <div class="container" align="center">
        <h2 align="center" style="font-size:50px; color:white;"><b>BUILD YOUR OWN PIZZA</b></h2>
    </div>
</body>

